.splash {
    text-align: center;
    margin: 10% 0 0 0;
}

.splash .message {
    font-size: 5em;
    line-height: 1.5em;
    -webkit-text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
    text-transform: uppercase;
}

.splash .icon-spinner {
    text-align: center;
    display: inline-block;
    font-size: 5em;
    margin-top: 50px;
}

.page-host {
    position: relative;
    top: 40px;
}

.navbar-fixed-top {
    z-index: 100;
}

.navbar-fixed-top .navbar-inner {
    padding-left: 1em;
    padding-right: 1em;
}

.navbar-fixed-top .icon-home {
    font-size: 18px
}

.loader {
    margin: 6px 8px 4px 8px;
    visibility: hidden;
}

.loader.active {
    visibility: visible;
}

.modalBlockout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    
    pointer-events: auto;
    
    -webkit-backface-visibility: hidden;
    
    -webkit-transition: opacity 0.1s linear; 
	-moz-transition: opacity 0.1s linear; 
	-o-transition: opacity 0.1s linear;
	transition: opacity 0.1s linear; 
}

.modalHost {
    top: 50%;
    left: 50%;
    position: fixed;
    opacity: 0;
    
    -webkit-backface-visibility: hidden;

    -webkit-transition: opacity 0.1s linear; 
	-moz-transition: opacity 0.1s linear; 
	-o-transition: opacity 0.1s linear;
	transition: opacity 0.1s linear;
}

.messageBox {
    background-color: white;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    min-width: 300px;
}

@media (max-width: 979px) {
    .page-host {
        top: 0;
    }

    .navbar-fixed-top {
        margin-bottom: 0;
    }
}

.tsUnit { width: 100%; table-layout:fixed; border-spacing: 0; }
.tsUnit thead { background-color: #bbb; font-weight: bold; color: #444; text-shadow: #f7f7f7 0 1px 1px; }
.tsUnit tbody tr:hover { cursor: pointer; background-color: #68c !important; color: White; }
.tsUnit th, .mails td { text-align:left; padding: 0.4em 0.3em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.tsUnit th { border-left: 1px solid #ddd; border-right: 1px solid #888; padding: 0.4em 0 0.3em 0.7em; }    
.tsUnit th:nth-child(1), .mails td:nth-child(1) { width: 20%; }
.tsUnit th:nth-child(2), .mails td:nth-child(2) { width: 15%; }
.tsUnit th:nth-child(3), .mails td:nth-child(3) { width: 65%; }
.tsUnit th:last-child { border-right: none }
.tsUnit tr:nth-child(even) { background-color: #EEE; }